.sider{
    min-height: 100vh;
    color: white;
}
.sidediv{
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}
.header{
    background: #fff;
    text-align: center;
    padding: 0;
}
.content{
    margin: 24px 16px 0;
}
.footer{
    text-align: center;
}
.inner{
    padding: 24;
    background-color: #fff;
}